/*
    cor do tema: celeste
    tipo de tema: cores frias
    cores referenciais: azul, preto, branco, cinza
    sinônimos: gelo, céu, água, vapor, nuvem, chuva
*/

:root {
    --fundo: #000000;
    --fundo-2: #36494e;
    --h1: #a9cef4;
    --h3: #7ea0b7;
    --p: #597081;
}