* text = auto

# fazendo com que os arquivos markdown sejam reconhecíveis no repositório
*.md text linguist-detectable

# fazendo com que os arquivos minimizados sejam reconhecíveis no repositório
*.min.* linguist-detectable