* text=auto

# fazendo com que os arquivos markdown sejam reconhecíveis no repositório
*.md text linguist-detectable

# fazendo com que todos os tipos de arquivos sejam reconhecíveis
*.* text linguist-detectable